.toast-box {
    $toastbox: &;
    --border-color: var(--color-neutral-70, #000);
    --background-color: var(--color-neutral-10, #fff);
    --text-color: var(--color-neutral-70, #000);
    --text-color-description: var(--color-neutral-60, grey);
    --box-shadow: var(--shadow-200);

    @include text-body-m--regular;
    color: var(--text-color);
    background-color: var(--background-color);
    display: flex;
    gap: var(--spacing-30, 8px);
    max-width: 441px;
    border: var(--spacing-10, 2px) solid;
    border-left: var(--spacing-30, 8px) solid;
    border-radius: var(--radius-300, 8px);
    padding: var(--spacing-50, 16px);

    &__icon {
        display: flex;
        align-items: flex-start;
    }
    &__middle {
        &-title {
            @include text-body-m--bold;
        }
        &-description {
            color: var(--text-color-description);
        }
    }

    &__actions {
        display: flex;
        align-items: flex-end;
        flex-direction: column;
        justify-content: space-between;
        gap: var(--spacing-30, 8px);

        &-close {
            aspect-ratio: unset;
            justify-self: end;
            cursor: pointer;
        }

        &-footer {
            display: flex;
            align-items: flex-end;
        }
    }

    &--is-default {
        inset: var(--spacing-110, 80px) var(--spacing-100, 64px) auto auto;
        position: fixed;
        box-shadow: var(--box-shadow);

        @include media("medium") {
            inset: var(--spacing-90, 48px) var(--spacing-70, 32px) auto auto;
        }

        @include media("small") {
            inset: var(--spacing-50, 16px) var(--spacing-50, 16px) auto auto;
        }
    }

    $toast-colors: (
        info: var(--color-info-30, blue),
        success: var(--color-success-30, green),
        warning: var(--color-warning-30, orange),
        error: var(--color-error-30, red)
    );
    @each $type, $color in $toast-colors {
        &--is-#{$type} {
            --border-color: var(--color-#{$type}-30, $color);
            border-color: var(--border-color);
        }
    }
}
