.toast-box {
    @include text-body-m--regular;
    color: var(--color-neutral-70, #000);
    background-color: var(--color-neutral-10, #fff);
    display: flex;
    gap: var(--spacing-30, 8px);
    max-width: 441px;
    border: var(--spacing-10, 2px) solid;
    border-left: var(--spacing-30, 8px) solid;
    border-radius: var(--radius-300, 8px);
    padding: var(--spacing-50, 16px) var(--spacing-50, 16px)
        var(--spacing-50, 16px) var(--spacing-30, 8px);

    &__icon {
        display: flex;
        align-items: flex-start;
    }
    &__main {
        &-header {
            @include text-body-m--bold;
        }
        &-body {
            color: var(--color-neutral-60, grey);
        }
    }

    &__actions {
        display: flex;
        align-items: flex-end;
        flex-direction: column;
        justify-content: space-between;
        gap: var(--spacing-30, 8px);

        &-close {
            aspect-ratio: unset;
            justify-self: end;
            cursor: pointer;
        }

        &-footer {
            display: flex;
            align-items: flex-end;
        }
    }

    &--is-default {
        top: var(--spacing-110, 80px);
        right: var(--spacing-100, 64px);
        margin-right: unset; // for dialog
        margin-left: auto; // for dialog
        position: fixed;

        @include media("medium") {
            top: var(--spacing-90, 48px);
            right: var(--spacing-70, 32px);
        }
        @include media("small") {
            top: var(--spacing-50, 16px);
            right: var(--spacing-50, 16px);
        }

        box-shadow: var(--shadow-200);
    }

    &--is {
        &-info {
            border-color: var(--color-info-30, blue);
        }
        &-success {
            border-color: var(--color-success-30, green);
        }
        &-warning {
            border-color: var(--color-warning-30, orange);
        }
        &-error {
            border-color: var(--color-error-30, red);
        }
    }
}
