.navigation-wrapper {
    width: 100%;

    &--is-collapsed {
        width: var(--spacing-110);
        picture {
            height: var(--spacing-110);
        }
    }

    &__header {
        display: flex;
        gap: var(--spacing-40, 0);
        justify-content: center;
        padding: var(--spacing-40, 0);
    }

    &__logo {
        width: var(--spacing-100);
    }
}