// TODO: crear variables para estilos comunes (fijarse en BaseCheckbox)
@mixin createHoverState() {
  @media (hover){
    &:active,
    &:hover {
      &:not(:disabled) {
       @content
      }
    }
  }
}

.base-button {
  $basebutton: &;
  --animationTime: .4s;

  &__element {
    align-items: center;
    display: flex;
    gap: var(--spacing-40, 0);
    justify-content: center;
  
    border: none;
    border-radius: var(--radius-500, 0);
    color: var(--color-neutral-10, #000);
  
    transition: background var(--animationTime, 0s) ease-out,
                box-shadow var(--animationTime, 0s) ease-out,
                border-color var(--animationTime, 0s) ease-out,
                color var(--animationTime, 0s) ease-out;
  
    &:disabled {
      pointer-events: none;
  
      &:not([class*="tertiary"]) {
        background: var(--color-neutral-40, #000);
        color:  var(--color-neutral-60, #000);
      }
  
      &[class*="tertiary"] {
        background: none;
        border-width: 1px;
        border-style: solid;
      }
  
      &:not([class*="ALT"]) {
        border-color: var(--color-neutral-50, #000);
        color: var(--color-neutral-50, #000);
      }
  
      border-color: var(--color-neutral-40, #000);
      color: var(--color-neutral-40, #000);
  
      &[class*="dropdown"] {
        border:  1px solid var(--color-neutral-50);
        background-color: var(--color-neutral-20);
        
        &::after {
          border-color: var(--color-neutral-50);
        }
      }
    }
  
    @media (hover) {
      &:focus-visible {
        box-shadow: 0 0 0 2px var(--color-neutral-10, #000), 0 0 0 4px var(--color-outline, #000);
  
        &[class*="ALT"] {
          box-shadow: 0 0 0 2px var(--color-outline, #000), 0 0 0 4px var(--color-neutral-10, #000);
        }
      }
    }
  }

  &--is {
    &-primary {
      background: var(--color-brand-50);

      &-ALT {
        background: var(--color-brand-10, #000);
        color: var(--color-brand-50, #000);
      }

      @include createHoverState {
        &:not([class*="ALT"]) {
          background: var(--color-brand-60, #000);
        }
          background: var(--color-brand-20, #000);
      }
    }

    &-secondary {
      background: var(--color-primary-40, #000);

      &-ALT {
        background: var(--color-primary-10, #000);
        color: var(--color-primary-50, #000);
      }

      @include createHoverState {
        &:not([class*="ALT"]) {
          background: var(--color-primary-50, #000);
        }
          background: var(--color-primary-20, #000);
      }
    }

    &-tertiary {
      background: none;
      border: 1px solid var(--color-primary-40, #000);
      color: var(--color-primary-40, #000);

      &-ALT {
        border-color: var(--color-primary-10, #000);
        color: var(--color-primary-10, #000);
      }

      @include createHoverState {
        &:not([class*="ALT"]) {
          border-color: var(--color-primary-60, #000);
          color: var(--color-primary-50, #000);
        }
        border-color: var(--color-primary-30, #000);
        color: var(--color-primary-30, #000);
      }
    }

    &-backToTop {
      background: var(--color-neutral-70, #000);
      border-radius: var(--radius-300);

      @include createHoverState {
        box-shadow: var(--shadow-300)
      }
    }

    &-dropdown {
      background-color: var(--color-neutral-10);
      border: 1px solid var(--color-neutral-50);
      border-radius: var(--radius-300);
      color: var(--color-neutral-50);
      font-weight: var(--font-weight-400);

      &-placeholder {
        &[data-checked="true"] {
          color: var(--color-neutral-70);
        }
      }

      &::after {
        border: solid var(--color-primary-40);
        border-width: 0 var(--spacing-10) var(--spacing-10) 0;
        content: '';

        padding: var(--spacing-20, 0);
        position: relative;
        bottom: var(--spacing-10);
        
        transform: rotate(45deg);
        transition: transform var(--animationTime) ease-out,
                    bottom var(--animationTime) ease-out;
      }

      &[data-active="true"] {
        &::after {
          transform: rotate(-135deg);
          bottom: calc(var(--spacing-20) * -1);
        }
      }

      &[data-invalid="true"] {
        border:  1px solid var(--color-error-30);
      }
    }

    // sizing
    &-L,
    &-M {
      @include text-body-m--bold;
    }

    &-L {
      padding: var(--spacing-40, 0) var(--spacing-50, 0);
    }
    
    &-M {
      padding: var(--spacing-30, 0) var(--spacing-50, 0);
    }

    &-S {
      @include text-body-xs--bold;
      padding: var(--spacing-20, 0) var(--spacing-50, 0);
    }
  }

  &__footer {
    @include text-body-xs--regular;
    margin-top: var(--spacing-30);

    display: flex;
    gap: var(--spacing-30);
    color: var(--color-error-30);
  }
}

