.navigation-item-contextual {
  $animationTime: 0.4s;

  padding: var(--spacing-40, 12px);
  padding-right: var(--spacing-50, 16px);

  &--is-selected {
    box-shadow: inset 0px -3px 0px 0px var(--color-brand-50, #aa272f);

    transition: box-shadow $animationTime ease-out;

    .navigation-item-contextual--content {
      font-weight: var(--font-style-bold);
      transition: font-weight $animationTime ease-out;
    }
  }

  &--content {
    font: var(--font-body-m);
    color: var(--color-primary-40, #21578a);

    display: flex;
    justify-content: space-evenly;

    cursor: pointer;
  }

  &:focus {
    box-shadow:
      0 0 0 2px var(--color-neutral-10, #fff),
      0 0 0 4px var(--color-outline, #bd20cb);
  }

  &:hover {
    opacity: 0.6;
    box-shadow: inset 0px -3px 0px 0px var(--color-neutral-40, #c7cccf);

    transition:
      box-shadow $animationTime ease-out,
      opacity $animationTime ease-out;
  }
}
