.base-dropdown {
  width: var(--spacing-160);
  display: grid;
  gap: var(--spacing-30);

  &__header {
    @include text-heading-m;

    display: flex;
    justify-content: space-between;
    color: var(--color-primary-40);

    label {
      color: var(--color-neutral-70);
    }
  }

  &__button {
    @include text-body-m--regular;

    display: flex;
    width: 100%;
    background-color: var(--color-neutral-10);
    padding: var(--spacing-30, 0) var(--spacing-40, 0);
    border: 1px solid var(--color-neutral-50);
    border-radius: var(--radius-300);
    align-items: center;
    justify-content: space-between;

    &-placeholder {
      color: var(--color-neutral-50);

      &[data-checked="true"] {
        color: var(--color-neutral-70);
      }
    }

    &::after {
      content: '';
      transition: 0.3s;
      border: solid var(--color-primary-40);
      border-width: 0 var(--spacing-10) var(--spacing-10) 0;
      padding: var(--spacing-20, 0);
      transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
    }

    @media (hover) {
      &:focus-visible {
        box-shadow: 0 0 0 2px var(--color-neutral-10, #000), 0 0 0 4px var(--color-outline, #000);
      }
    }
  }

  [data-active="true"] & {
    &__button {
      &::after {
        transform: rotate(-135deg);
        -webkit-transform: rotate(-135deg);
        position: relative;
        top: var(--spacing-20);
      }
    }
  }

  &[data-error="true"] & {
    &__button {
      border:  1px solid var(--color-error-30);
    }

    &__footer {
      @include text-body-xs--regular;

      display: flex;
      gap: var(--spacing-30);
      color: var(--color-error-30);
    }
  }

  [data-disabled="true"] & {
    &__button {
      border:  1px solid var(--color-neutral-50);
      background-color: var(--color-neutral-20);

      &::after {
        border-color: var(--color-neutral-50);
      }
    }

    &__header {
      color: var(--color-neutral-50);
    }
  }
}