$shadow-color: (
    'base': hsla(var(--color-neutral-default-70), .2),
    'alt': hsla(var(--color-neutral-default-10), .2)
);

@mixin create-elevation( $weight: 100, $type: 'base' ) {
    $typeExist: map-has-key($shadow-color, $type);
    @if($typeExist) {
        $weightExist: map-has-key($elevations, $weight);
        @if ($weightExist) {
            $params: map-get($elevations ,$weight );
            $color: map-get($shadow-color ,$type );
            box-shadow: #{$params} + #{$color}
        } @else {
            @error '#{$weight} is not a supported value';
        }
    } @else {
        @error '#{$type} is not a supported value'
    }
}