@use '../_abstracts/media' as useMedia;
@use '../_abstracts/grid' as useGrid;
@use '../mixins/createGrid.scss' as useCreateGrid;

body {
    margin: 0;
    padding: 0;
}

.grid {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    width: 100%;

    @include media('large') {
        margin: 0 var(--spacing-100, 0);
        max-width: (useMedia.$grid-lg * 1px)
    }

    @include media('medium') {
        margin: 0 var(--spacing-70, 0);
        max-width: useMedia.$grid-md * 1px
    }

    @include media('small') {
        margin: 0 var(--spacing-60, 0);
        max-width: useMedia.$grid-sm * 1px;

        @media screen and (max-width: 1023px) {
           max-width: 100%;
           margin: 0;
        }
    }

    &__row {
        display: flex;
        flex: 1;
        justify-content: space-between;

        @include media('large') {
            gap: var(--spacing-60, 0)
        }

        @include media('medium') {
            gap: var(--spacing-50, 0)
        }

        @media screen and (max-width: 1023px) {
            flex-direction: column;
        }
    }

    *[class*="grid__col"] {
        align-items: center;
        display: flex;
        @media screen and (max-width: 1023px) {
            flex: 1;
        }
    }

    @each $modifier , $breakpoint in useGrid.$map-grid {
        @include useCreateGrid.create-grid-classes($modifier, useGrid.$columns, $breakpoint);
    }
}


