@use '../_abstracts/media' as useMedia;
@use '../_abstracts/grid' as useGrid;
@use '../mixins/createGrid.scss' as useCreateGrid;

body {
    margin: 0;
    padding: 0;
}

.grid {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    background: orange;

    @include media('large') {
        margin: 0 var(--spacing-100, 0);
        width: (useMedia.$grid-lg * 1px)
    }

    @include media('medium') {
        margin: 0 var(--spacing-70, 0);
        width: useMedia.$grid-md * 1px
    }

    @include media('small') {
        margin: 0 var(--spacing-60, 0);
        width: useMedia.$grid-sm * 1px
    }

    &__row {
        display: flex;
        flex: 1;
        justify-content: space-between;
        gap: 16px;

        @include media('large') {
            background-color: yellow;
        }
    
        @include media('medium') {
            background-color: black;
        }
    
        @include media('small') {
            background-color: blue;
        }
    }

    *[class*="grid__col"] {
        display: flex;
        align-items: center;
    }

    @each $modifier , $breakpoint in useGrid.$map-grid {
        @include useCreateGrid.create-grid-classes($modifier, useGrid.$columns, $breakpoint);
    }
}


