

.navigation-item {
    $navigationItem: &;
    $animationName: second-level-in-out;
    --animationTime: .4s;
    --aniamtionDelay: 0s;

    @mixin inOutSecondLevel() {
        > #{$navigationItem}__second-level {
            display: block;
            animation-name: $animationName;
        }
    }

    @include keyframe($animationName) {
        from {
            transform: translateX(105%);
        }
        to {
            transform: translateX(100%);
        }
    }

    align-items: center;
    border: none;
    background-color: var(--color-primary-60, #000);
    display: flex;
    flex-wrap: wrap;
    
    min-height: calc(var(--spacing-100, 0) + 4px);
    width: var(--spacing-131);
    padding: var(--spacing-40, 0) var(--spacing-30, 0);
    position: relative;
    z-index: 1;

    color: var(--color-neutral-10, #000);

    transition: box-shadow var(--animationTime, 0s) ease-out,
                background var(--animationTime, 0s) ease-out,
                width var(--animationTime, 0s) ease-out var(--aniamtionDelay, 0);

    &:is(button) {
        border: none;
    }

    &:not([dir='rtl']) {
        justify-content: space-between;
    }

    &#{$navigationItem}--is-collapsed,
    [data-collapsed = "true"] & {
        justify-content: center;
    }

    &:not(#{$navigationItem}--has-second-level),
    &:not(#{$navigationItem}--is-collapsed),
    &:not([data-collapsed = "true"] &) {
        gap: var(--spacing-20, 0);
    }

    @media (hover) {
        &:hover {
            @include inOutSecondLevel;
            background-color: var(--color-primary-40, #000);
        }
    }

    &:focus {
        @include inOutSecondLevel;

        z-index: 2;
        box-shadow:
            0 0 0 3px var(--color-neutral-10, #000),
            0 0 0 6px var(--color-outline, #000);
    }

    &--is {
        &-selected {
            box-shadow: inset var(--spacing-20, 0) 0 0 var(--color-brand-50, #000);
            background-color: var(--color-primary-40, #000);

            &#{$navigationItem}--has-inside-focus {
                @media (hover: none) {
                    @include inOutSecondLevel;
                }
            }
        }

        &-collapsed &{
            align-items: center;
            aspect-ratio: 1/1;
            display: flex;
            width: var(--spacing-100);
            justify-content:center;

            &.navigation-item--has-second-level {
                justify-content: flex-end;

                &[dir='rtl'] {
                    justify-content: flex-start;
                }
            }
        }

        &-fullSize {
            &:not(#{$navigationItem}--is-collapsed),
            &:not([data-collapsed = "true"] &) {
                width: 100%;
            }
        }
    }

    [data-collapsed = "true"] & {
        align-items: center;
        aspect-ratio: 1/1;
        display: flex;
        width: var(--spacing-100);
        justify-content:center;

        &.navigation-item--has-second-level {
            justify-content: flex-end;

            &[dir='rtl'] {
                justify-content: flex-start;
            }
        }
    }

    &__user-icon {
        display: flex;

        [dir='rtl'] & {
            order: 1;
        }
    }

    &__label {
        @include text-body-s--regular;
        justify-content: flex-start;
        flex: 0 0 100%;        
        max-width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        text-align: left;

        [dir='rtl'] & {
            order: 2;
            text-align: right;
        }

        [data-collapsed = "true"] & {
            display: none;
        }
    }

    &__action {
        align-items: center;
        aspect-ratio: 1/1;
        display: flex;
        justify-content: center;
        width: var(--spacing-50, 0);

        &:is(button) {
            border: none;
            background: none;
        }

        &:before {
            border: solid var(--color-primary-10, #000);
            border-width: 0 var(--spacing-10, 0) var(--spacing-10, 0) 0;
            content: '';
            display: inline-block;
            padding: var(--spacing-10, 0);

            transform: rotate(-45deg);
        }
    }

    &__second-level {
        padding: var(--spacing-50, 0);
        position: absolute;
        right: 0;
        top: 0;

        background: var(--color-neutral-10, #000);
        box-shadow: var(--shadow-200);
        border-radius: var(--radius-200, 0);
        color: var(--color-neutral-60, #000);

        transform: translateX(100%);
        animation-name: $animationName;
        animation-duration: var(--animationTime);

        #{$navigationItem}--show-second-level & {
            @include inOutSecondLevel;
        }

        [data-position="top"] & {
            top: 0;
        }

        [data-position="bottom"] & {
            bottom: 0;
            top: auto;
        }

        [data-hidden="true"] & {
            display: none;
        }
    }
}