// BaseCheckbox.scss
// TODO: REFACTOR!!
.base-checkbox {
    $basecheckbox: &;
    --animationTime: 0.4s;

    @include text-body-m--regular;
    align-items: center;
    display: inline-flex;
    gap: var(--spacing-30, 0);

    color: var(--color-neutral-70, #000);

    /*   &:has(input:disabled) {
    button {
      background: var(--color-neutral-20, #000);
      border: 1px solid var(--color-neutral-50, #000);
    }
  } */

    &__square {
        height: 24px;
        width: 24px;

        background-color: var(--color-neutral-10, #fff);
        border-radius: var(--radius-200, 4px);
        border: 1px solid var(--color-neutral-70);

        &:focus {
            box-shadow:
                0px 0px 0px 2px rgb(255, 255, 255),
                0px 0px 0px 4px rgb(189, 32, 203);
        }

        &:hover {
            box-shadow: 0px 0px 4px 0px rgba(29, 30, 32, 0.2);
        }
    }

    &--is {
        &-M {
            @include text-body-m--regular;
            button {
                width: var(--spacing-60, 24px);
                height: var(--spacing-60, 24px);
            }
        }
        &-S {
            @include text-body-s--regular;
            button {
                width: calc(var(--spacing-50) + 4px);
                height: calc(var(--spacing-50) + 4px);
            }
        }

        // Status
        &-default {
            //border: 1px solid var(--color-neutral-50, #818a8f);
            //background-color: var(--color-neutral-20, #000);
            //color: var(--color-neutral-70, #000);
            .base-checkbox__square {
                border: 1px solid var(--color-neutral-50, #818a8f);
            }

            // Checked state
            &-checked .base-checkbox__square {
                border: 1px solid var(--color-primary-40, #21578a);
                background-color: var(--color-primary-40, #21578a);
                color: var(--color-neutral-10, white);

                transition:
                    background var(--animationTime, 0s) ease-out,
                    border var(--animationTime, 0s) ease-out;
            }

            // Disabled state
            &-disabled {
                .base-checkbox__square {
                    border: 1px solid var(--color-neutral-50, #818a8f);
                }

                // Checked state
                &-checked .base-checkbox__square {
                    border: 1px solid var(--color-neutral-50, #000);
                    background-color: var(--color-primary-40, #000);
                    color: var(--color-neutral-20, #fff);

                    transition:
                        background var(--animationTime, 0s) ease-out,
                        border var(--animationTime, 0s) ease-out;
                }
            }
        }

        &-error {
            // Checked state
            .base-checkbox__square {
                border: 1px solid var(--color-error-30, #000);
            }

            &-checked .base-checkbox__square {
                border: 1px solid var(--color-error-30, #000);
                background-color: var(--color-error-30, #000);
                color: var(--color-neutral-10, white);

                transition:
                    background var(--animationTime, 0s) ease-out,
                    border var(--animationTime, 0s) ease-out;
            }
        }
    }
}

// default ALT
.base-checkbox--is-default.base-checkbox--is-ALT button {
    border: 1px solid var(--color-primary-20, #000);
    background-color: var(--color-neutral-10, #000);
}
// default ALT-checked
.base-checkbox--is-default-checked.base-checkbox--is-ALT button {
    border: 1px solid var(--color-primary-20, #000);
    background-color: var(--color-primary-20, #000);
    color: var(--color-primary-60, white);
}
// default-alt checked disabled
.base-checkbox--is-default.base-checkbox--is-ALT button:disabled {
    border: 1px solid var(--color-neutral-50, #000);
    background-color: var(--color-neutral-20, #000);
    color: var(--color-primary-60, white);
}
// default-alt checked disabled checked
.base-checkbox--is-default-checked.base-checkbox--is-ALT button:disabled {
    border: 1px solid var(--color-neutral-50, #fff);
    background-color: var(--color-primary-20, #fff);
    color: var(--color-neutral-70, #000) !important;
}
.base-checkbox--is-error.base-checkbox--is-ALT button {
    border: 1px solid var(--color-error-30, #000);
}
.base-checkbox--is-error-checked.base-checkbox--is-ALT button {
    border: 1px solid var(--color-error-30, #000);
    background-color: var(--color-error-30, #000);
    color: var(--color-primary-60);
}
.base-checkbox--is-ALT button:focus,
.base-checkbox--is-error-checked.base-checkbox--is-ALT button:focus {
    box-shadow:
        0px 0px 0px 2px rgba(189, 32, 203, 1),
        0px 0px 0px 4px rgba(255, 255, 255, 1);
}
.base-checkbox--is-error-checked.base-checkbox--is-ALT button:focus {
    border: none;
}

label.base-checkbox.base-checkbox--is-S.base-checkbox--is-default.base-checkbox--is-indeterminate {
}
