.base-checkbox {
    $basecheckbox: &;
    --animationTime: 0.4s;

    @include text-body-m--regular;
    align-items: center;
    display: inline-flex;
    gap: var(--spacing-30, 0);

    color: var(--color-neutral-70, #000);

    &:not(:has(input:disabled)) {
        cursor: pointer;

        @media (hover) {
            &:hover {
                &:not(#{$basecheckbox}--is-ALT) {
                    #{$basecheckbox}__square {
                        box-shadow: var(--shadow-100);
                    }
                }

                #{$basecheckbox}__square {
                    box-shadow: var(--shadow-alt-100);
                }
            }
        }

        &:focus {
            &:not(#{$basecheckbox}--is-ALT) {
                #{$basecheckbox}__square {
                    box-shadow:
                        0 0 0 2px var(--color-neutral-10, #000),
                        0 0 0 4px var(--color-outline, #000);
                }
            }

            #{$basecheckbox}__square {
                box-shadow:
                    0 0 0 2px var(--color-outline, #000),
                    0 0 0 4px var(--color-neutral-10, #000);
            }
        }

        &:has(input:checked) {
            &:not(#{$basecheckbox}--is-ALT) {
                &#{$basecheckbox}--is-default {
                    #{$basecheckbox}__square {
                        border: 1px solid var(--color-primary-40, #21578a);
                        background-color: var(--color-primary-40, #21578a);
                        color: var(--color-neutral-10, white);

                        transition:
                            background var(--animationTime, 0s) ease-out,
                            border var(--animationTime, 0s) ease-out;
                    }
                }
                &#{$basecheckbox}--is-error {
                    #{$basecheckbox}__square {
                        border: 1px solid var(--color-error-30, #21578a);
                        background-color: var(--color-error-30, #21578a);
                        color: var(--color-neutral-10, white);

                        transition:
                            background var(--animationTime, 0s) ease-out,
                            border var(--animationTime, 0s) ease-out;
                    }
                }
            }
            &#{$basecheckbox}--is-default {
                #{$basecheckbox}__square {
                    border: 1px solid var(--color-primary-20, #000);
                    background-color: var(--color-primary-20, #000);
                    color: var(--color-primary-60, white);
                }
            }
            &#{$basecheckbox}--is-error {
                #{$basecheckbox}__square {
                    border: 1px solid var(--color-error-30, #000);
                    background-color: var(--color-error-30, #000);
                    color: var(--color-primary-60);

                    transition:
                        background var(--animationTime, 0s) ease-out,
                        border var(--animationTime, 0s) ease-out;
                }
            }
        }

        &:not(#{$basecheckbox}--is-ALT) {
            &#{$basecheckbox}--is-default.base-checkbox--is-INDETERMINATE {
                #{$basecheckbox}__square {
                    border: 1px solid var(--color-primary-40, #21578a);
                    background-color: var(--color-primary-40, #21578a);
                    color: var(--color-neutral-10, white);

                    transition:
                        background var(--animationTime, 0s) ease-out,
                        border var(--animationTime, 0s) ease-out;
                }
            }
            &#{$basecheckbox}--is-error.base-checkbox--is-INDETERMINATE {
                #{$basecheckbox}__square {
                    border: 1px solid var(--color-error-30, #21578a);
                    background-color: var(--color-error-30, #21578a);
                    color: var(--color-neutral-10, white);

                    transition:
                        background var(--animationTime, 0s) ease-out,
                        border var(--animationTime, 0s) ease-out;
                }
            }
        }
        &#{$basecheckbox}--is-default.base-checkbox--is-INDETERMINATE {
            #{$basecheckbox}__square {
                border: 1px solid var(--color-primary-20, #000);
                background-color: var(--color-primary-20, #000);
                color: var(--color-primary-60, white);
            }
        }
        &#{$basecheckbox}--is-error.base-checkbox--is-INDETERMINATE {
            #{$basecheckbox}__square {
                border: 1px solid var(--color-error-30, #000);
                background-color: var(--color-error-30, #000);
                color: var(--color-primary-60);

                transition:
                    background var(--animationTime, 0s) ease-out,
                    border var(--animationTime, 0s) ease-out;
            }
        }
    }

    &:has(input:disabled) {
        // NOT CHECKED
        &:not(:has(input:checked)) {
            &:not(#{$basecheckbox}--is-ALT) {
                #{$basecheckbox}__square {
                    border: 1px solid var(--color-neutral-50, #000);
                    background: var(--color-neutral-20, #000);
                }
            }
            // ALT
            #{$basecheckbox}__square {
                border: 1px solid var(--color-neutral-50, #000);
                background: var(--color-neutral-20, #000);
            }
        }

        // CHECKED
        &:not(#{$basecheckbox}--is-ALT) {
            #{$basecheckbox}__square {
                border: 1px solid var(--color-neutral-50, #000);
                background: var(--color-neutral-50, #000);
                color: var(--color-neutral-10, #fff);
            }
        }

        // ALT
        #{$basecheckbox}__square {
            border: 1px solid var(--color-neutral-50, #000);
            background: var(--color-neutral-50, #000);
            color: var(--color-neutral-70, #fff);
        }
    }

    &__square {
        height: 24px;
        width: 24px;
        pointer-events: none;

        background-color: var(--color-neutral-10, #fff);
        border-radius: var(--radius-200, 4px);
        border: 1px solid var(--color-neutral-70);

        &:focus {
            box-shadow:
                0px 0px 0px 2px rgb(255, 255, 255),
                0px 0px 0px 4px rgb(189, 32, 203);
        }

        &:hover {
            box-shadow: 0px 0px 4px 0px rgba(29, 30, 32, 0.2);
        }
    }

    &--is {
        &-M {
            @include text-body-m--regular;
            .base-checkbox__square {
                width: var(--spacing-60, 24px);
                height: var(--spacing-60, 24px);
            }
        }
        &-S {
            @include text-body-s--regular;
            .base-checkbox__square {
                width: calc(var(--spacing-50) + 4px);
                height: calc(var(--spacing-50) + 4px);
            }
        }
    }
}
