.base-list {
    $baselist: &;
    --animationTime: .4s;
    --item-focus: var(--color-primary-10, #000);

    --check-rotate: rotate(45deg);
    --check-height: var(--spacing-40, 0);
    --check-width: 0.438rem;
    --check-border-bottom: var(--spacing-10, 0) solid currentColor;
    --check-border-right: var(--spacing-10, 0) solid currentColor;

    --max-height: auto;

    @mixin item-focus {
        background: var(--item-focus); 
    }

    padding: var(--spacing-30) 0;
    background: var(--color-neutral-10, #000);
    border: 1px solid var(--color-neutral-50, #000);
    box-shadow: var(--shadow-200);
    border-radius: var(--radius-300, 0);

    &__list {
        max-height: var(--max-height);
        overflow-y: auto;
        scroll-behavior: smooth;
    }

    &__option {
        @include text-body-m--regular;

        align-items: center;
        display: flex;
        justify-content: space-between;
        gap: var(--spacing-30);
        padding: var(--spacing-30, 0) var(--spacing-40, 0);

        color: var(--color-neutral-70, #000);
        outline: none;

        transition: background var(--animationTime, 0s) ease-out,
                    box-shadow var(--animationTime, 0s) ease-out;

        @media (hover) {
            &:hover {
                @include item-focus()
            }
        }

        &:focus {
            @include item-focus()
        }

        &:not([data-current = true]) {
            cursor: pointer;
        }

        &[data-current = true] {
            @include text-body-m--bold;
            @include item-focus();
            box-shadow: inset var(--spacing-10, 0) 0 0 var(--color-primary-40, #000);

            [data-mode='dropdown'] & {
                &::after {
                    color: inherit;
                    content: '';
                    display: inline-block;
                    height: var(--check-height);
                    width: var(--check-width);
    
                    border-bottom: var(--check-border-bottom);
                    border-right: var(--check-border-right);
    
                    transform: var(--check-rotate);
                }
            }
            
        }
    }

    &__label,
    &__icon {
        pointer-events: none;
    }

    &__label {
        align-items: center;
        display: flex;
        flex: 1;
        gap: var(--spacing-30);
    }

    &__icon {
        [data-mode='default'] & {
            order: 2;
        }
    }
}