.base-list {
  $animationTime: 0.4s;

  &--item {
    width: 288px;
    height: 64px;
    padding: 8px 12px 8px 12px;
    gap: 8px;
    background-color: var(--color-neutral-10, #fff);
    display: flex;
    position: relative;
    justify-content: space-between;

    &-center {
      width: 100%;
    }

    &-selected {
      background-color: var(--primary-color-10, #ecf0f6);

      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0px;
        width: 2px;
        height: 100%;
        background-color: var(--primary-color-40, #21578a);
      }
    }

    &-disabled {
      cursor: not-allowed;
      * {
        color: var(--color-neutral-50, #818a8f) !important;
      }

      &::before {
        display: none;
      }
    }
    &:focus {
      box-shadow:
        0px 0px 0px 2px rgba(255, 255, 255, 1),
        0px 0px 0px 6px rgba(189, 32, 203, 1);
      margin: 6px 0;
    }
    &:hover {
      &-disabled {
        * {
          color: var(--color-neutral-50, #1d1e20);
        }
      }

      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0px;
        width: 2px;
        height: 100%;
        background-color: var(--primary-color-40, #21578a);
      }
    }

    &-label {
      &_item {
        @include text-body-m--bold;
        color: var(--color-neutral-70, #1d1e20);
        .disabled {
          color: var(--color-neutral-60, #1d1e20) !important;
        }
      }

      &_subitem {
        @include text-body-m--regular;
        color: var(--color-neutral-50, #818a8f);
      }
    }
  }
}
