@mixin textarea-input-styles {
  outline: none;
  border-radius: var(--radius-300);
  border: 1px solid var(--color-neutral-50, #818a8f);
  resize: none;
  color: var(--color-neutral-70, #1d1e20);
  font: var(--font-body-m-size);

  &.error {
    border-color: var(--color-error-30, #ff602d);
  }

  &:active {
    border-color: var(--color-primary-30, #7090b7);
  }

  &:focus:not(:active) {
    outline: 1px solid var(--color-neutral-50, #818a8f);
    box-shadow:
      0 0 0 2px var(--color-neutral-10, #fff),
      0 0 0 4px var(--color-outline, #bd20cb);
  }

  &:focus-visible:not(:active) {
    outline: 1px solid var(--color-neutral-30, #818a8f);
    box-shadow:
      0 0 0 2px var(--color-neutral-10, #fff),
      0 0 0 4px var(--color-outline, #bd20cb);
  }

  &.disabled {
    color: var(--color-neutral-60, #1d1e20);
  }
}

.base-textarea {
  $basetextarea: &;
  $animationTime: 0.4s;

  width: 220px;
  display: flex;
  flex-direction: column;
  gap: 8px;

  &--header {
    display: flex;
    justify-content: space-between;

    &-box {
      display: flex;
    }

    &-question_mark {
      margin-left: 4px;
      //cursor: pointer;
      display: flex;
      align-items: center;
      border: none;
      background: none;

      svg path {
        fill: var(--color-primary-40, #21578a);
      }
    }

    &-label {
      color: var(--color-neutral-70, #1d1e20);
      @include text-body-m--bold;

      &_optional {
        margin-left: 0.25rem;
        color: var(--color-neutral-60, #494d50);
      }
    }
  }

  &--box {
    position: relative;

    &-textarea {
      width: 100%;
      height: 88px;
      padding: 8px 32px 8px 12px;
      @include textarea-input-styles;

      transition:
        border $animationTime ease-out,
        box-shadow $animationTime ease-out;

      &::placeholder {
        color: var(--color-neutral-50, #818a8f);
      }
      &:invalid {
        border-color: var(--color-error-30, #ff602d);
      }
    }

    &-clear_text {
      position: absolute;
      top: 20%;
      right: 4px;
      transform: translateY(-50%);
      cursor: pointer;
      font-size: var(--font-body-m-size, 1rem);
      color: var(--color-neutral-50, #ccc);

      svg path {
        fill: var(--color-primary-40, #21578a);
      }
    }
  }

  &--footer {
    display: flex;
    justify-content: space-between;

    &-help_area {
      display: flex;

      &-icon_error {
        display: flex;
        border: none;
        background: none;
        svg path {
          fill: var(--color-error-30, #ff602d);
        }
      }

      &-help_text {
        font: var(--font-body-xs);

        &.base-textarea--has-error {
          color: var(--color-error-40, #7a1e00);
        }
      }
    }

    &-counter {
      font: var(--font-body-xs);
    }
  }

  &__user {
    &-message {
      @include text-body-xs--regular;

      display: flex;
      flex-direction: column;
      gap: var(--spacing-20, 0);

      color: var(--color-neutral-70, #000);
      transition: color $animationTime ease-out;

      &-alert {
        align-items: center;
        display: flex;
        gap: var(--spacing-20, 0);
        color: var(--color-error-40, #000);

        > svg {
          color: var(--color-error-30, #000);
        }
      }
    }
  }
}
