.modal-panel {
    $modal: &;
    --animationTime: .4s;
    --modal-width: 100%;
    --modal-padding: var(--spacing-60);
    --modal-gap: var(--spacing-50);
    --close-width: var(--spacing-60, 0);
    --shadow: var(--shadow-200);
    --shadow-thin: var(--shadow-100);
    --animation-enter: slide-from-bottom var(--animationTime) forwards;

    
    @keyframes slide-from-bottom {
        0% {
            opacity: 0;
            transform: translateY(100%);
        }
        100% {
            opacity: 1;
            transform: translateY(0%);
        }
    }

    @keyframes slide-from-right {
        0% {
            opacity: 0;
            transform: translateX(100%);
        }
        100% {
            opacity: 1;
            transform: translateX(0%);
        }
    }

    @keyframes out {
        0% { opacity: 1; }
        100% { opacity: 0; }
    }

    box-shadow: var(--shadow-200);
    background-color: var(--color-neutral-10, #fff);
    border: none;
    overflow: hidden;
    padding: var(--spacing-60, 0);
    max-width: var(--modal-width);
    width: 100%;

    color: var(--color-neutral-70, #000);
    transition: max-width var(--animationTime) ease-out;

    &:not([data-drawer]) {
        border-radius: var(--radius-300);
    }


    &::backdrop {
        background-color: var(--color-neutral-70, #000);
        opacity: 0.4;
    }

    &[data-drawer] {
        inset: auto 0 auto auto;
        height: 100%;
        max-height: 100vh;
        margin: 0;
        padding: 0;
        top: 0;

        &[data-size='narrow'] {
            #{$modal}__footer {
                align-items: center;
                flex-direction: column; 
            }
        }

        &[data-scroll='true'] {
            #{$modal}__header {
                box-shadow: var(--shadow);
            }

            #{$modal}__footer {
                box-shadow: var(--shadow-thin);
            }

            #{$modal}__body {
                > * {
                    &:first-child {
                        padding: var(--spacing-50, 0) 0;
                    }
                }
            }
        }
    }

    &[open]{
        animation: slide-from-bottom var(--animationTime) forwards;

        &[data-drawer] {
            animation: slide-from-right var(--animationTime) forwards;
        }
    }

    &[closing] {
        display: block;
        inset: 0;
        pointer-events: none;
        animation: out var(--animationTime) forwards;
    }

    &[data-size="auto"] {
        --modal-width: fit-content;
    }

    &[data-size="narrow"] {
        @include media('large') {
            --modal-width: calc(var(--spacing-30, 0) * 67);

            &[data-drawer] {
                --modal-width: var(--spacing-170, 0)
            }
        }

        @include media('medium') {
            --modal-width: calc(var(--spacing-30, 0) * 67);

            &[data-drawer] {
                --modal-width: var(--spacing-170, 0)
            }
        }

        @include media('small') {
            --modal-width: calc(var(--spacing-30, 0) * 70);

            &[data-drawer] {
                --modal-width: var(--spacing-170, 0)
            }
        }
    }

    &[data-size="wide"] {
        @include media('large') {
            --modal-width:calc(var(--spacing-30, 0) * 102);

            &[data-drawer] {
                --modal-width: var(--spacing-200, 0)
            }
        }

        @include media('medium') {
            --modal-width: calc(var(--spacing-30, 0) * 90);

            &[data-drawer] {
                --modal-width: var(--spacing-200, 0)
            }
        }

        @include media('small') {
            --modal-width: calc(var(--spacing-30, 0) * 87);

            &[data-drawer] {
                --modal-width: var(--spacing-200, 0)
            }
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        height: inherit;
        gap: var(--spacing-50, 0);
        position: relative;

        [data-drawer] &{
            gap: var(--spacing-00, 0);
        }
    }

    &__action {
        display: flex;
        justify-content: space-between;
    }

    &__close {
        display: flex;
        justify-content: center;
        position: relative;
        margin: 0 0 0 auto;
        width: var(--close-width);
        height: var(--close-width);
        
        background: none;
        border: none;

        &:before,
        &:after {
            height: 1px;
            content: '';
            display: inline-block;
            left: 0;
            position: absolute;
            width: 100%;
            top: 50%;

            background: var(--color-neutral-70, #000)
        }

        &::before {
            transform: rotate(45deg)
        }

        &::after {
            transform: rotate(-45deg)
        }
    }

    &__header,
    &__footer {
        transition: box-shadow var(--animationTime, 0) ease-out;
    }

    &__header {
        align-items: center;
        display: flex;
        gap: var(--spacing-30, 0);

        [data-drawer] & {
            flex-wrap: wrap;
            gap: var(--spacing-50, 0);
            padding: var(--spacing-60, 0)
        }
    }

    &__title {
        @include text-display-s;
        
        display: flex;
        gap: var(--spacing-30, 0);

        color: var(--color-neutral-70, #000);

        [data-drawer] & {
            order: 3;
            flex: 0 0 100%;
        }
    }

    &__body {
        overflow: auto;
        scrollbar-color: var(--color-neutral-40, #000) transparent;
        scrollbar-width: thin;

        [data-drawer] & {
            padding: 0 var(--spacing-60, 0) var(--spacing-60, 0)
        }

        + #{$modal}__footer {
            margin-top: var(--spacing-50, 0);

            [data-drawer] & {
                margin: 0;
            }
        }

        > * {
            &:first-child {
                transition: padding .1s ease-out;
            }
        }
    }

    &__footer {
        display: flex;
        gap: var(--spacing-50, 0);
        justify-content: flex-end;

        [data-drawer] & {
            padding: var(--spacing-60, 0)
        }
    }
}