.navigation-item {
    $navigationItem: &;
    $animationTime: .4s;
    $animationName: second-level-in-out;

    @include keyframe($animationName) {
        from {
            transform: translateX(120%);
        }
        to {
            transform: translateX(100%);
        }
    }

    align-items: center;
    border: none;
    background-color: var(--color-primary-60, #000);
    display: flex;
    flex-wrap: wrap;
    
    min-height: calc(var(--spacing-100, 0) + 4px);
    max-width: var(--spacing-131);
    padding: var(--spacing-40, 0) var(--spacing-30, 0);
    position: relative;
    z-index: 1;

    color: var(--color-neutral-10, #000);

    transition: box-shadow $animationTime ease-out,
                background $animationTime ease-out;

    &:is(button) {
        border: none;
    }

    &:not([dir='rtl']) {
        justify-content: space-between;
    }

    &#{$navigationItem}--is-collapsed {
        justify-content: center;
    }

    &:not(#{$navigationItem}--has-second-level),
    &:not(#{$navigationItem}--is-collapsed) {
        gap: var(--spacing-20, 0);
    }

    @media (hover) {
        &:not(#{$navigationItem}--has-second-level) {
            &:hover {
                background-color: var(--color-primary-40, #000);
            }
        }

        &:focus {
            z-index: 2;
            box-shadow:
                0 0 0 3px var(--color-neutral-10, #000),
                0 0 0 6px var(--color-outline, #000);
        }
    }

    &--is {
        &-selected {
            box-shadow: inset var(--spacing-20, 0) 0 0 var(--color-brand-50, #000);
            background-color: var(--color-primary-40, #000);
        }

        &-collapsed {
            align-items: center;
            aspect-ratio: 1/1;
            display: flex;
            max-width: var(--spacing-100);
            justify-content:center;

            &.navigation-item--has-second-level {
                justify-content: flex-end;

                &[dir='rtl'] {
                    justify-content: flex-start;
                }
            }
        }
    }

    &--has {
        &-second-level {
            cursor: default;
        }
    }

    &__user-icon {
        display: flex;

        [dir='rtl'] & {
            order: 1;
        }
    }

    &__label {
        @include text-body-s--regular;
        justify-content: flex-start;
        flex: 0 0 100%;        
        max-width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        text-align: left;

        [dir='rtl'] & {
            order: 2;
            text-align: right;
        }
    }

    &__action {
        align-items: center;
        aspect-ratio: 1/1;
        display: flex;
        justify-content: center;
        width: var(--spacing-50, 0);

        &:before {
            border: solid var(--color-primary-10, #000);
            border-width: 0 var(--spacing-10, 0) var(--spacing-10, 0) 0;
            content: '';
            display: inline-block;
            padding: var(--spacing-10, 0);

            transform: rotate(-45deg);
        }

        @media (hover) {
            &:hover {
                ~ #{$navigationItem}__second-level {
                    display: block;
                    background: red;
                    animation-name: $animationName;
                    animation-duration: $animationTime;
                }
            }
        }
    }

    &__second-level {
        // display: none;
        padding: var(--spacing-50, 0);
        position: absolute;
        top: 0;
        right: 0;

        background: var(--color-neutral-10, #000);
        box-shadow: var(--shadow-200);
        border-radius: var(--radius-300, 0);
        color: var(--color-neutral-60, #000);

        transform: translateX(100%);
    }
}