.navigation-item {
    $animationTime: .4s;

    align-items: center;
    border: none;
    background-color: var(--color-primary-60, #000);
    display: grid;
    max-width: var(--spacing-131);
    padding: var(--spacing-40, 0) var(--spacing-30, 0);
    position: relative;
    z-index: 1;

    transition: box-shadow $animationTime ease-out,
                background $animationTime ease-out;

    @media (hover) {
        &:hover {
            background-color: var(--color-primary-40, #000);
        }
        &:focus {
            z-index: 2;
            box-shadow:
                0 0 0 3px var(--color-neutral-10, #000),
                0 0 0 6px var(--color-outline, #000);
        }
    }

    &--is {
        &-selected {
            // border-left: .5rem solid var(--color-brand-50, #000);
            box-shadow: calc(var(--spacing-20, 0) * -1) 0 0 var(--color-brand-50, #000);
        }

        &-inversed {
            justify-self: end;

            .navigation-item__header {
                justify-self: end;
            }
        }
    }

    &__container  {
        color: var(--color-neutral-10, #000);
        display: grid;
        gap: var(--spacing-40, 0);

        &.navigation-item--is-collapsed {
            padding: var(--spacing-10, 0);
            place-self: center;

            .navigation-item__header {
                display: grid;
                grid-template-columns: 5fr 1fr;
                align-items: center;
                gap: 0;
            }

            .navigation-item--is-parent {
                svg {
                    justify-self: end;
                }
            }
        }
    }

    &__header {
        display: flex;
        gap: .5rem;
        justify-content: space-between;
    }

    &__label {
        @include text-body-s--regular;
        justify-self: start;
        text-overflow: ellipsis;
        overflow: hidden;
        max-width: 100%;
    }
}