.base-icon {
    --animationTime: 0.4s;
    aspect-ratio: 1/1;

    @include create-animation(
      $name: 'appear-icon',
      $from: translateX(0),
      $to: translateX(0),
      $duration: var(--animationTime),
      $duration-out: .2s
    );

    &--is {
        &-L {
            width: var(--spacing-80, 0);
        }

        &-M {
            width: var(--spacing-60, 0);
        }

        &-S {
            width: calc(var(--spacing-50) + 4px);
        }

        &-XS {
            width: var(--spacing-50, 0);
        }
    }
}