.slider {
  $slider: &;
  --slider-position: 0;
  display: flex;
  width: 100%;

  &__wrapper {
    overflow: hidden;
    flex: 1;
  }

  &__list {
    display: flex;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    width: 100%;

    transform: translateX(calc(var(--slider-position) * -1));
    -ms-overflow-style: none;
    scrollbar-width: none;

    transition:
      transform linear,
      0.6s;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__item {
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    padding: 5px 0;
    border-left: 1px solid red;
    border-right: 1px solid red;
  }

  &--is-next,
  &--is-prev {
    background-color: var(--color-neutral-10, #fff);
    box-shadow: var(--spacing-00, 0px) var(--spacing-00, 0px) var(--spacing-10, 4px)
      var(--spacing-00, 0px) rgba(0, 0, 0, 0.25);

    border: none;
    cursor: pointer;
  }

  &:has(#{$slider}__item:first-child[data-visible='true']) {
    #{$slider}--is-prev {
      // visibility: hidden;
      display: none;
    }
  }

  &:has(#{$slider}__item:last-child[data-visible='true']) {
    #{$slider}--is-next {
      display: none;
    }
  }
}

.small {
  flex: 0 0 50px;
}

.medium {
  flex: 0 0 120px;
}

.big {
  flex: 0 0 220px;
}
